#datetime-picker{
    width: auto;
    padding: 1.5rem;
    font-size: 1.2rem;
    border-radius: 20rem;
    align-self: center;
    align-items: center;
    margin: 2rem;
}

.timer{
    display: flex;
    gap: 2rem;

    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    font-size: 2.1rem;
}

button {
    width: 200px;
    height: 40px;
    border-radius: 20px;
    color: #fff;
    border: none;
    background-color: rgb(63, 63, 224);
    align-self: center;
    margin-bottom: 1rem;
    transition: all 200ms ease-in;
}

button:hover, button:focus {
    background-color: rgb(120, 120, 201);
}
button:disabled{
    background-color: rgb(73, 73, 110);
}